.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  width: 80%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #4080e6;
  color: azure;
  cursor: pointer;
}

.title {
  font-size: large;
  font-weight: bold;
}

.info-card {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.error-page {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.error-text {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(218, 96, 96);
  text-align: center;
  color: azure;
}

.detail-content {
  background-color: #2c2e30;
  padding: 10px;
  margin: 2%;
  text-align: center;
  border-radius: 20px;
}

h1, h3 {
  color: blanchedalmond;
}

.full-text {
  color: #4080e6;
}

.content-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.back-button {
  padding: 20px;
  width: 15%;
  background-color: #4080e6;
  border-radius: 7px;
  border: none;
  font-size: large;
  color: bisque;
  text-align: center;
  cursor: pointer;
}

@media (min-width : 1320px) {
  .back-button {
    width: 7%;
  }
}


